body{
font-family: 'Aladin', cursive;
}

a{
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 10, 255); opacity: 1;
}

a:hover {
  font-size: 70px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 10, 255); opacity: 1;
}

a:visited {
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 10, 255); opacity: 1;
}

.kaleidescope{
  z-index: -1;

}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white; opacity: 1;
}

.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #fa8da7 16.666%,
    #ff52fd 16.666%,
    #ff802f 33.333%,
    #f1439c 33.333%,
    #F18F43 50%,
    #fb4848 50%,
    #9c39ff 66.666%,
    #d7abff 66.666%,
    #ff78d9 83.333%,
    #fa6dbd 83.333%);

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}

.mainc{
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.links{
  display: flex;
  flex-direction: column;
  font-size: 50px;
  padding: 10px;
position: absolute;
background-color: rgba(255, 251, 249, 0.6);
border-radius: 25px;
top: 35%;
right: 30%;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(0, 10, 255); opacity: 1;
  pointer-events: auto;
}
