* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

a{

}


.object {
  display: flex;
  animation: MoveUpDown 3s linear infinite;
  position: relative;
  /* margin-left: 35%;
  margin-right: auto; */
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  z-index: 0;

}

.box2 {
  display: flex;
  position: absolute;
  margin-top: 50%;
  margin-left: auto;
  margin-right: 43%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box3 {
  display: flex;
  position: absolute;
  margin-top: 55%;
  margin-left: auto;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box4 {
  display: flex;
  position: absolute;
  margin-top: 47%;
  margin-left: 40%;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.box5 {
  display: flex;
  position: absolute;
  margin-top: 73%;
  margin-left: auto;
  margin-right: 40%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box6 {
  display: flex;
  position: absolute;
  margin-top: 79%;
  margin-left: auto;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box7 {
  display: flex;
  position: absolute;
  margin-top: 64%;
  margin-left: 9%;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.box8 {
  display: flex;
  position: absolute;
  margin-top: 98%;
  margin-left: 0%;
  margin-right: 37%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box9 {
  display: flex;
  position: absolute;
  margin-top: 102%;
  margin-left: 0%;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.box10 {
  display: flex;
  position: absolute;
  margin-top: 96%;
  margin-left: 38%;
  margin-right: 0%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box11 {
  display: flex;
  position: absolute;
  margin-top: 47%;
  margin-left: auto;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box12 {
  display: flex;
  position: absolute;
  margin-top: 44%;
  margin-left: 9%;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
 -moz-animation: glow 1s ease-in-out infinite alternate;
 animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
 from {
   box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
 }

 to {
   box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
 }

}


@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@-webkit-keyframes aura {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: translateY(100px) rotate(1deg);
            transform: translateY(100px) rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(16deg);
            transform: translateY(-10px) rotate(16deg);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@keyframes aura {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: translateY(100px) rotate(1deg);
            transform: translateY(100px) rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(16deg);
            transform: translateY(-10px) rotate(16deg);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@-webkit-keyframes northern {
  0% {
    -webkit-transform: translate(5%, -2%);
            transform: translate(5%, -2%);
  }
  25% {
    -webkit-transform: translate(10%, 7%);
            transform: translate(10%, 7%);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(7%, -2%);
            transform: translate(7%, -2%);
  }
  85% {
    -webkit-transform: translate(6%, 3%) rotate(12deg);
            transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes northern {
  0% {
    -webkit-transform: translate(5%, -2%);
            transform: translate(5%, -2%);
  }
  25% {
    -webkit-transform: translate(10%, 7%);
            transform: translate(10%, 7%);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(7%, -2%);
            transform: translate(7%, -2%);
  }
  85% {
    -webkit-transform: translate(6%, 3%) rotate(12deg);
            transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.auroral-agrabah {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: aura;
          animation-name: aura;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: -webkit-linear-gradient(110deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), -webkit-linear-gradient(30deg, #63d4f2 10%, #c47bf1);
  background: linear-gradient(-20deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), linear-gradient(60deg, #e471f7 10%, #d70043);
}

.auroral-northern {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: northern;
          animation-name: northern;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: -webkit-linear-gradient(80deg, #7ad9ee 20%, #3696e4 40%, #c92bcc 70%);
  background: linear-gradient(10deg, #a0c1d9 20%, #25b3f0 40%, #5340b0 70%);
}

.auroral-northern-intense {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: aura;
          animation-name: aura;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: -webkit-linear-gradient(80deg, #b7a841 20%, #a1006a 40%, #371d40 60%);
  background: linear-gradient(10deg, #b7a841 20%, #a1006a 40%, #371d40 60%);
}

.auroral-northern-dimmed {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: northern;
          animation-name: northern;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: -webkit-linear-gradient(135deg, rgba(237, 124, 148, 0.3) 20%, rgba(35, 82, 154, 0.3) 70%), -webkit-linear-gradient(80deg, #916b63 7%, #b8ba6f 20%, #ed7c94 40%, #23529a 60%);
  background: linear-gradient(-45deg, rgba(237, 124, 148, 0.3) 20%, rgba(35, 82, 154, 0.3) 70%), linear-gradient(10deg, #916b63 7%, #b8ba6f 20%, #ed7c94 40%, #23529a 60%);
}

.auroral-northern-dusk {
  position: fixed;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: northern;
          animation-name: northern;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: -webkit-linear-gradient(125deg, rgba(180, 71, 194, 0.5) 15%, rgba(79, 200, 217, 0.5) 25%, transparent 60%), -webkit-linear-gradient(80deg, #58b1b4 9%, #636ce2 30%, #7de6ed 45%, #a6efff 65%);
  background: linear-gradient(-35deg, rgba(205, 36, 240, 0.5) 15%, rgba(254, 178, 65, 0.5) 25%, transparent 60%), linear-gradient(10deg, #67ccd2 9%, #64cef5 30%, #f5d531 45%, #dd56a7 65%);
}

.auroral-northern-warm {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: aura;
          animation-name: aura;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: -webkit-linear-gradient(85deg, transparent 70%, #da7712 95%), -webkit-linear-gradient(290deg, #432c24 30%, #d96d7d 62%, #da7712 95%);
  background: linear-gradient(5deg, transparent 70%, #da7712 95%), linear-gradient(160deg, #432c24 30%, #d96d7d 62%, #da7712 95%);
}
