body{
background: rgb(206, 154, 252);
}


.object {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  margin-left: 35%;
  margin-top: 50%;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}
